<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar-lewagon">
      <p id='logo'><%= link_to "_GW_WatchLists®", lists_path%></p>
      <p class="btn btn-outline-light"><%= link_to 'Create new List', new_list_path %></p>
    </div>
    <div class="but-navbar">
      <%= yield %>
    </div>
  </body>
</html>
